# =======================
# Data (never push)
/data/
text_data/*.csv
!text_data/README.md
/image_data/
artifacts/
outputs/

# Artifacts (only keep metrics/logs, ignore weights)
artifacts/**/*.pt
artifacts/**/*.ckpt
artifacts/**/*.safetensors

# Python cache
*.pt
*.ckpt
*.bin
*.safetensors
**/__pycache__/
.ipynb_checkpoints/
.cache/
wandb/
huggingface/

# Notebooks
.ipynb_checkpoints/

# Virtual env
.venv/
env/
venv/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
