# =======================
# Data (never push)
data/
text_data/
image_data/

# Artifacts (only keep metrics/logs, ignore weights)
artifacts/**/*.pt
artifacts/**/*.ckpt
artifacts/**/*.safetensors

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks
.ipynb_checkpoints/

# Virtual env
.venv/
env/
venv/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
